asgiref==3.12.1
boto3==1.43.93
botocore==1.43.93
brotli==1.2.0
click==8.5.0
django-click==2.5.0
django-storages==1.14.6
django-tailwind-cli==4.8.0
django-unfold==0.105.0
Django==6.1.1
fonttools==4.65.0
gunicorn==26.2.0
jmespath==1.1.0
pillow==12.3.0
psycopg-binary==3.3.5
psycopg==3.3.5
python-dateutil==2.9.0.post0
s3transfer==0.19.2
semver==3.0.4
six==1.17.0
sqlparse==0.6.0
urllib3==2.7.0
whitenoise==6.12.0
